/build/*
!/build/.gitkeep
/.cache/
/.ssh/
/compile_commands.json
/driver/char/.cache/
/driver/char/.tmp_versions/
/driver/char/.*.cmd
/driver/char/*.ko
/driver/char/*.mod
/driver/char/*.mod.c
/driver/char/*.o
/driver/char/Module.symvers
/driver/char/modules.order
/driver/char/compile_commands.json
/tools/miniaccel-info
/tools/miniaccel-run-sync
